body {
    background-color: #232B2B;
    margin-top: 7.2rem;
}

nav.main {
    color: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 5rem;
    padding: .5rem;
    border-bottom: 2px solid #DC3D24;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    nav.main {
        height: 10rem;
    }
    body {
        margin-top: 10.2rem;
    }
}

nav.main h1 {
    color: #E3AE57;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    font-size: 2.5rem;
}

nav.main .form-item {
    width: 20rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav.main input {
    height: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    background-color: #232B2B;
    border: 1px solid #DC3D24;
    color: #E3AE57;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 6rem;
    padding: 2px;
}

nav.main label {
    height: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
}

nav.main button {
    height: 1.6rem;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #E3AE57;
    color: #232B2B;
    border: none;
}

nav.main button:hover {
    background-color: #a39E67;
}

div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

figure#candlesticks-wrapper {
    display: block;
    margin-top: -5rem;
    width: 50%;

    margin-left:auto;
    margin-right:auto;
}

table#content {
    width: 40%;
    color: #a39E67;
    margin-left:auto;
    margin-right:auto;
}

table#content,
table#content tr,
table#content td,
table#content th {
    border: 1px solid #a39E67;
    border-collapse: collapse;
}

@media (max-width: 800px) {
    figure#candlesticks-wrapper {
        width: 80%;
        margin-top: 1rem;
       
    }
    table#content {
        width: 80%;

    }
}